@media (min-width: 992px) {
	.section-title {
		font-size: 4.8rem;

		&::before {
			height: 4px;
		}
	}

	h1.company-name {
		font-size: 6rem;
	}
	.header {
		grid-template-rows: auto repeat(2, 1fr);

		&__text {
			grid-row: 2/4;
			grid-column: 1/2;

			p {
				font-size: 1.8rem;
			}
		}
		&__img {
			grid-row: 1/4;
			grid-column: 2/3;
		}
		&__arrow {
			display: block;
			position: relative;
			bottom: 3em;
			padding: 2em;
			top: 350px;
			left:65%;
			transform: translateX(-50%);
			z-index: 5000;
			

			&-rotation {
				position: absolute;
				width: 100px;
				height: 100px;
				top: 80px;
				right: 5%;
				transform: translateX(-50%);
				border-radius: 50%;
				background: linear-gradient(45deg, transparent, transparent 40%, gold);
				animation: animate 2s linear infinite;

				&::before {
					content: '';
					position: absolute;
					left: 42%;
					transform: translateX(-50%);
					margin: 6px;
					width: 100px;
					height: 100px;
					background-image: linear-gradient(90deg, rgba(6, 6, 6, 1) 10%, rgba(10, 10, 10, 1) 75%);
					border-radius: 50%;
					z-index: 499;
					
				}

				&::after {
					content: '';
					position: absolute;
					left: 42%;
					transform: translateX(-50%);
					width: 100px;
					height: 100px;
					background: linear-gradient(45deg, transparent, transparent 40%, gold);
					border-radius: 50%;
					z-index: 1;
					
					filter: blur(1rem);
				}
			}

			&__arrow-icon {
				position: relative;
				width: 50px;
				left: 75%;
				transform: translateX(-50%);
			}
			&__bg-icon-one {
				left: 6em;
				bottom: 8em;
				width: 10%;
			}

			&__bg-icon-two {
				display: block;
				top: 10em;
				left: 35%;

				width: 5%;
				animation: rotate-left 55s infinite linear;
			}
		}

		.nav {
			grid-column: 1/2;
			grid-row: 1/2;

			&-desktop {
				display: block;
				position: absolute;
				border-bottom: 1px solid rgba(255, 255, 255, 0.2);
				width: 65%;
			}

			&__link {
				color: $white;

				&::before {
					position: absolute;
					top: 0;
					left: 0;
					content: '';
					width: 100%;
					height: 100%;
					border: 1px solid $gold;
					opacity: 0;
				}
				&:hover::before {
					animation: pulse 1s;
				}
			}
		}

		.hamburger {
			display: none;
		}
	}

	@media (min-width: 1200px) {
		.header {
			&__text {
				p {
					font-size: 2.2rem;
				}
			}
		}

		.gallery {
			grid-template-columns: repeat(8, 1fr);
		}
	}
}
